<h1>Logowanie</h1>
<hr>
<div class="col-md-4">
  <form>
    <div class="form-group" >
      <label for="userName">User Name:</label>
      <input id="userName" type="text" name="userName" required class="form-control" placeholder="" />
    </div>
    <div class="form-group" >
      <label for="password">Password:</label>
      <input id="password" type="password" name="password" required class="form-control" placeholder="" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <button type="button" class="btn btn-default">Cancel</button>
  </form>
</div>
